body{
    background-color: #f1f1f1;
} 

ul{
    list-style-type: none;
    padding: 0;
    margin: 0 10%;
}

li, p{
    display: inline-block;
    width: 28%;
    color: #c2c2c2;   
}

li{
    background-color: rgba(118,117,128,0.05);   
    margin:0 0 6px 30px;
    box-sizing: border-box;
    padding: 10px 0; 
}

span{
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    bottom: 18px;
    left: 10px;
}

p{
    font-size: 24px;
    font-weight: bold;  
}

.avatar{
    border-radius: 50%;
}

#hover li:hover {
    background-color: rgba(118,117,128,0.1);
    color:   #ec5a62;
}

.placeholder{
    text-align: left;
    background-color: #f1f1f1;
    padding: 0;
    text-transform: uppercase;
}

form{
    display: inline-block;
}

input{
    color: #c2c2c2;
    outline:none;
}

#submit{
    width: 80px;  
    margin-left: 125px; 
}

#submit:hover{
    width: 85px; 
    transition: all .20s ease-in;
}

#inputtext{
    height: 100px;
    width: 60%;
    font-size: 90px;
    font-weight: bold;
    background: transparent;
    margin: 3% 0 0 10%;
    padding: 0 0 0 30px;
    border: none;
    color:   #ec5a62;
}

#inputtext::placeholder{
    color: #c2c2c2;
}
